/* Filename - App.css */
body {
  padding: 10px;
  margin: 10px;
  background-color: aquamarine;
}
input{
  

  font-size: 1rem;
  padding: 1px;
  margin:2px;
  border-radius: 5px;
  outline: none;

}
input:focus{
  text-decoration: none;
}
input:focus-within{
  border: 2px solid rgb(255, 0, 0);
}
.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
table {
  border: 2px solid forestgreen;
  width: 60%;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}